# Ignore artifacts:
/build
/coverage
./node_modules
./dist
/.vscode

# Ignore all HTML files:
*.html

# Ignore specific files:
config.js
.env
*.env
.env.*

# Ignore all files in the logs directory:
logs/*
*.log